.hitokoto {
	color: #ccc;
	letter-spacing: 3px;
	font-weight: lighter;
	font-size: 1.2em;
	font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
	-webkit-font-smoothing: antialiased
}