.shaky {
    display: inline-block;
    transform-origin: center center;
    animation-name: shaky-slow;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-play-state: running
}

@keyframes shaky-slow {
    @for $i from 0 through 49 {
        #{$i * 2%} {
            transform: translate(calc((random(320) - 160) / 100) * 1px, calc((random(320) - 160) / 100) * 1px) rotate(calc(random(30) - 15) * 0.1deg)
        }
    }
}
